<a href="https://colab.research.google.com/github/driskoe/BDSiC_FinalProject/blob/main/NeMO_MetaData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [72]:
#make sure to add the .txt file in
data = pd.read_csv('pacbio_deepdives_cells_unfiltered.txt', sep="\t", header=None)
#reformat so that column names are the values in the first row
data.rename(columns=lambda x: data[x][0], inplace=True)
data = data.iloc[1:]
#dropped region since it only contained 1 value (CD)
data = data.drop("REGION", axis = 1)
#convert numeric columns into integers since currently strings
numeric_columns = ["NREADS", "READLENGTH", "CAGLENGTH", "ALIGNSTART", "ALIGNEND"]
for column in numeric_columns:
  data[column] = pd.to_numeric(data[column], errors='coerce')

#Exploratory Data Analysis

Unclear whether Align start and Align end are useful to us, so won't drop columns yet. Don't have the data such that imputation would be of any use. Category could probably drop if wanted

In [80]:
data.isna().sum()

CELL_BARCODE      0
UMI               0
NREADS            0
READLENGTH        0
CAGLENGTH         0
CATEGORY          3
ALIGNSTART      126
ALIGNEND        126
DONOR             0
CELLTYPE          0
dtype: int64